code {
  background-color: #e7e7e7;
}
.code-example {
  background: #e7e7e7;
  overflow: auto;
  width: auto;
  border: solid gray;
  border-width: 0.1em 0.1em 0.1em 0.8em;
  padding: 0.2em 0.6em;
}
.code-example pre {
  line-height: 125%;
}
span {
  color: #007700;
}
.section-list-item {
  margin: 20px;
}
.live-sample-frame {
  border: solid black;
  border-width: thin thin thin thick;
  padding: 20px;
}
